# Dependency directory and npm log
node_modules
npm-debug.log
tmp

#Cache for process files 
data/*

# Code coverage results
/coverage
coverage*

# Built package
/*.tgz

# Compiled client resources
/public/

# Revision file
config/_revision

# OS X
.DS_Store

# vim
*.swp
*.swo

# eslint
.eslintcache


