# Dependency directory and npm log
node_modules
npm-debug.log
tmp

# Cache for process files 
data/*

# Logs for app status 
logs
*.log

# Compiled client resources
/public/

# PM2 config
APE.json

# Personnal config
config.dev.js
config.js

# Revision file
config/_revision

# OS X
.DS_Store

# vim
*.swp
*.swo

# eslint
.eslintcache


